html{
  height: 100%
}
body{
margin: 0 0;
height: 100%;
width: 100%;
font-family: 'Indie Flower', cursive;
color: white;
}
.container{
  background-image: url("http://www.ux-designstudio.com/share/TheRoadRunner2.jpg");
  background-size: 100% 100%;
  font-size: 15px;
  height: 100%;
  width: 100%;
}

/**/

ul{
  width:101%;
  margin-left: -5%;
  list-style-type: none;
}
li{
    padding: 1vh 0 1vh 2vw;
    font-size: 2em;
    background-color: rgba(96, 49, 40, 0.18);;
}
li:nth-child(odd) {
}

.topbar {
  position: fixed;
  top:0;
  height:100%;
  width:100%;
  float: left;
  /*background-color: rgba(211, 102, 81, 0.5)*/
  z-index: 2;
}

.joinform {
  position:absolute;
  top:20%;
  left: 15%;
  width:70%;
  background-color: rgba(211, 102, 81, 0.5);
  height: 20vh;
}
#sendChat{
  color: white;
  background: black;
  width: 84%;
  overflow-y: scroll;
  border: 0;
  font-family: cursive;
  font-size: 1.5em;
  margin-left: 1%;
}

input[type="text"].username {
  margin: 3vh 0 3vh 2%;
  padding:2vh 0;
  height:15vh;
  line-height: 10vh;
  font-size: 2em;
  resize: none;
  border: 0;
  box-sizing: border-box;
  float:left;
  padding:0;
  width:70%;

}

.topleft {
    width: 21%;
    height: 16%;
    float: left;
    margin: 7% 0 0 0;
    padding: 0;
    background-image: url('https://cdn2.iconfinder.com/data/icons/despicable-me-2-minions/128/superman-minion-icon.png');
    background-size: 50% 100%;
    background-repeat: no-repeat;
}
h1 {
  display: inline;
  text-transform: uppercase;
}
.topcenter {
  width:50%;
  height:12.5vh;
  float: left;
  /*margin:0 auto;*/
  padding:0;
  margin: 1% 2%;

  font-size: 2em;
  text-align: center;
}
.topright {
  width:15%;
  height:12.5vh;
  float:right;
  margin:0;
  padding:0;
  background-image: url('http://webcreationsbyjumpy.com/comics/comics_graphics/roadrunner/images/runner021.png');
  background-repeat: no-repeat;
  margin-right: 3%;
  background-size: 50% 100%;
  background-position: bottom right;
}
.sidebar {
  position:fixed;
  top:12%;
  right:0;
  width: 100%;
  height:76%;
  background-color: rgba(0, 0, 0, 0.5);
  margin:0;
  padding:0;
  z-index: 2;
}
.main {
  position:absolute;
  bottom:12.5%;
  width:85%;
  height: 75%;
  overflow-y:scroll;
  overflow-x: hidden;
  word-wrap: break-word;
}
.main li:nth-child(2n+1) {
  background-color: rgba(0, 0, 0, 0.5);
}
.main li:last-child {
  font-weight:bold;
}
.bottombar {
    height: 13%;
    position:fixed;
    bottom:0;
    width:100%;
    z-index: 2;
}
textarea {
  resize: none;
  border: 0;
  box-sizing: border-box;
  margin: 1% 1% 1% 1%;
  float:left;
  padding:0;
  width:84%;
  height: 80%;
  color: white;
  font-family: 'Indie Flower', cursive;
  font-size: 1.5em;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.5);
}
li {
  font-size: 1.5em;
}
#chatBox{
  height: 100%
}

.sidebar, .topright {
  width:15%;
}

input[type="submit"] {
  font-size: 2em;
  font-family: 'Indie Flower', cursive;
  margin-top: 2%;
  margin-left: 2%;
}
textarea {
  font-size: 1.5em;
}










/**/
.joinusform{
  text-align: center;
  margin-top: 22em;
  position: fixed;
}
.rooms{
  float: left;
  height: 100%;
  background-color: #d36651;
}
.activeusers{
  float: right;
  height: 100%;
  background-color: #d36651;
}
.joinus{
  background-image: url("https://lh3.googleusercontent.com/-KaoNY2UAyG0/VrHs3WmXeNI/AAAAAAAACtg/r4Dg--PYIEU/w672-h582/Looney_Tunes_Logo.png");
  width: 25%;
  height: 50%;
  background-size: 100% 100%;
  margin-left: 37.5%;
  margin-top: 10%;
  position: fixed;

}
@-webkit-keyframes scale {
0%, {-webkit-transform:  scale(0.05, 0.05);}
5% {-webkit-transform: scale(0.06, 0.06);}
10% {-webkit-transform: scale(0.08, 0.08);}
15% {-webkit-transform:  scale(0.1, 0.1);}
20% {-webkit-transform:  scale(0.13, 0.13);}
25% {-webkit-transform: scale(0.18, 0.18);}
30% {-webkit-transform: scale(0.2, 0.2);}
35% {-webkit-transform:  scale(0.24, 0.24);}
40% {-webkit-transform:  scale(0.28, 0.28);}
45% {-webkit-transform:  scale(0.32, 0.32);}
50% {-webkit-transform:  scale(0.38, 0.38);}
55% {-webkit-transform:  scale(0.4, 0.4);}
60% {-webkit-transform:  scale(0.42, 0.42);}
65% {-webkit-transform: scale(0.45, 0.45);}
70% {-webkit-transform:  scale(0.5, 0.5);}
75% {-webkit-transform: scale(0.55, 0.55);}
80% {-webkit-transform:  scale(0.65, 0.65);}
85% {-webkit-transform: scale(0.75, 0.75);}
90% {-webkit-transform:  scale(0.85, 0.85);}
95% {-webkit-transform:  scale(0.95, 0.95);}
100% {-webkit-transform: scale(1, 1);}
}
.scale {
-webkit-animation-name: scale;
animation-name: scale;
-webkit-animation-duration: 4s;
animation-duration: 4s;
-webkit-transition-timing-function: linear;
animation-timing-function: linear;
transition-timing-function: linear;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}
.clouds {
  height: 20%;
  width: 30%;
  position: fixed;
}
.tasmanian{
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/79/80/28/798028db3ebc39b58f83c992e0d26074.gif");
  background-size: 20% 50%;
  background-position: center;
  height: 100%;
  width: 100%;
  /*position: fixed;*/
  background-repeat: no-repeat;
}
@-webkit-keyframes flyin {
0%, {-webkit-transform: translatex(0%) translatey(20%) ;}
2% {-webkit-transform: translateX(5%) translatey(20%) ;}
4% {-webkit-transform: translateX(10%) translatey(25%) ;}
6% {-webkit-transform: translateX(15%) translatey(25%) ;}
8% {-webkit-transform: translateX(20%) translatey(30%) ;}
10% {-webkit-transform: translateX(25%) translatey(30%) ;}
12% {-webkit-transform: translateX(30%) translatey(25%) ;}
14% {-webkit-transform: translateX(35%) translatey(25%) ;}
16% {-webkit-transform: translateX(40%) translatey(30%) ;}
17% {-webkit-transform: translateX(45%) translatey(30%) ;}
18% {-webkit-transform: translateX(50%) translatey(40%) ;}
20% {-webkit-transform: translateX(55%) translatey(50%) ;}
22% {-webkit-transform: translateX(65%) translatey(50%) ;}
24% {-webkit-transform: translateX(70%) translatey(50%) ;}
26% {-webkit-transform: translateX(75%) translatey(50%) ;}
28% {-webkit-transform: translateX(80%) translatey(60%) ;}
30% {-webkit-transform: translateX(90%) translatey(70%) ;}
32% {-webkit-transform: translateX(100%) translatey(75%) ;}
34% {-webkit-transform: translateX(110%) translatey(80%) ;}
36% {-webkit-transform: translateX(120%) translatey(80%) ;}
38% {-webkit-transform: translateX(130%) translatey(90%) ;}
40% {-webkit-transform: translateX(140%) translatey(100%) ;}
44% {-webkit-transform: translateX(150%) translatey(101%) ;}
46% {-webkit-transform: translateX(160%) translatey(105%) ;}
48% {-webkit-transform: translateX(170%) translatey(106%) ;}
50% {-webkit-transform: translateX(180%) translatey(110%) ;}
52% {-webkit-transform: translateX(190%) translatey(113%) ;}
54% {-webkit-transform: translateX(200%) translatey(116%) ;}
56% {-webkit-transform: translateX(210%) translatey(116%) ;}
58% {-webkit-transform: translateX(210%) translatey(113%) ;}
60% {-webkit-transform: translateX(210%) translatey(110%) ;}
62% {-webkit-transform: translateX(210%) translatey(110%) ;}
64% {-webkit-transform: translateX(210%) translatey(112%) ;}
66% {-webkit-transform: translateX(210%) translatey(115%) ;}
68% {-webkit-transform: translateX(210%) translatey(120%) ;}
70% {-webkit-transform: translateX(210%) translatey(125%) ;}
72% {-webkit-transform: translateX(210%) translatey(130%) ;}
74% {-webkit-transform: translateX(210%) translatey(135%) ;}
76% {-webkit-transform: translateX(210%) translatey(140%) ;}
78% {-webkit-transform: translateX(210%) translatey(140%) ;}
80% {-webkit-transform: translateX(210%) translatey(150%) ;}
82% {-webkit-transform: translateX(210%) translatey(160%) ;}
84% {-webkit-transform: translateX(210%) translatey(160%) ;}
86% {-webkit-transform: translateX(210%) translatey(160%) ;}
88% {-webkit-transform: translateX(210%) translatey(160%) ;}
90% {-webkit-transform: translateX(210%) translatey(160%) ;}
92% {-webkit-transform: translateX(210%) translatey(160%) ;}
94% {-webkit-transform: translateX(210%) translatey(160%) ;}
96% {-webkit-transform: translateX(210%) translatey(160%) ;}
98% {-webkit-transform: translateX(210%) translatey(160%) ;}
100% {-webkit-transform: translateX(210%) translatey(160%) ;}


}
.flyin {
  -webkit-animation-name: flyin;
  animation-name: flyin;
  -webkit-animation-duration: 15s;
  animation-duration: 15s;
  -webkit-transition-timing-function: linear;
  animation-timing-function: linear;
  transition-timing-function: linear;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }


.cloudbackground{
  background-image: url("http://pngimg.com/upload/cloud_PNG16.png");
  background-size: 100% 100%;
  height: 100%;
  width: 100%;

  /*-webkit-animation-name: fadeout;
  animation-name: fadeout;
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
  -webkit-transition-timing-function: linear;
  animation-timing-function: linear;
  transition-timing-function: linear;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;*/
}
  .fadeout{
    -webkit-animation-name: fadeout;
    animation-name: fadeout;
    -webkit-animation-duration: 15s;
    animation-duration: 15s;
    -webkit-transition-timing-function: linear;
    animation-timing-function: linear;
    transition-timing-function: linear;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
@-webkit-keyframes fadeout {
0% { opacity: 1;}
2% {opacity: 1;}
4% { opacity: 1 ;}
6% {opacity: 1;}
8% {opacity: 1;}
10% {opacity: 1 ;}
12% {opacity: 1 ;}
14% {opacity: 1 ;}
16% {opacity: 1 ;}
17% {opacity: 1 ;}
18% {opacity: 1 ;}
20% {opacity: 1 ;}
22% {opacity: 1 ;}
24% {opacity: 1 ;}
26% {opacity: 1 ;}
28% {opacity: 1;}
30% {opacity: 1 ;}
32% {opacity: 1 ;}
34% {opacity: 1 ;}
36% {opacity: 1 ;}
38% {opacity: 1 ;}
40% {opacity: 1 ;}
44% {opacity: 1 ;}
46% {opacity: 1 ;}
48% {opacity: 1 ;}
50% {opacity: 1 ;}
52% {opacity: 1 ;}
54% {opacity: 1 ;}
56% {opacity: 1 ;}
58% {opacity: 1 ;}
60% {opacity: 1 ;}
62% {opacity: 1 ;}
64% {opacity: 1 ;}
66% {opacity: 1 ;}
68% {opacity: 1 ;}
70% {opacity: 1 ;}
72% {opacity: 1 ;}
74% {opacity: 1 ;}
76% {opacity: 1 ;}
78% {opacity: 0.9 ;}
80% {opacity: 0.7 ;}
82% {opacity: 0.6 ;}
84% {opacity: 0.5 ;}
86% {opacity: 0.4 ;}
88% {opacity: 0.3 ;}
90% {opacity: 0.2 ;}
92% {opacity: 0.1 ;}
94% {opacity: 0 ;}
96% {opacity: 0 ;}
98% {opacity: 0 ;}
100% {opacity: 0 ;}

}

.fade{
  -webkit-animation-name: fade;
  animation-name: fade;
  -webkit-animation-duration: 15s;
  animation-duration: 15s;
  -webkit-transition-timing-function: linear;
  animation-timing-function: linear;
  transition-timing-function: linear;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fade {
0% { opacity: 0;}
2% {opacity: 0;}
4% { opacity: 0 ;}
6% {opacity: 0;}
8% {opacity: 0;}
10% {opacity: 0 ;}
12% {opacity: 0 ;}
14% {opacity: 0 ;}
16% {opacity: 0 ;}
17% {opacity: 0 ;}
18% {opacity: 0 ;}
20% {opacity: 0 ;}
22% {opacity: 0 ;}
24% {opacity: 0 ;}
26% {opacity: 0 ;}
28% {opacity: 0 ;}
30% {opacity: 0 ;}
32% {opacity: 0 ;}
34% {opacity: 0 ;}
36% {opacity: 0 ;}
38% {opacity: 0 ;}
40% {opacity: 0 ;}
44% {opacity: 0 ;}
46% {opacity: 0 ;}
48% {opacity: 0 ;}
50% {opacity: 0 ;}
52% {opacity: 0 ;}
54% {opacity: 0 ;}
56% {opacity: 0 ;}
58% {opacity: 0 ;}
60% {opacity: 0 ;}
62% {opacity: 0 ;}
64% {opacity: 0 ;}
66% {opacity: 0 ;}
68% {opacity: 0 ;}
70% {opacity: 0 ;}
72% {opacity: 0 ;}
74% {opacity: 0 ;}
76% {opacity: 0 ;}
78% {opacity: 0.1 ;}
80% {opacity: 0.3 ;}
82% {opacity: 0.4 ;}
84% {opacity: 0.5 ;}
86% {opacity: 0.6 ;}
88% {opacity: 0.7 ;}
90% {opacity: 0.8 ;}
92% {opacity: 0.9 ;}
94% {opacity: 1 ;}
96% {opacity: 1 ;}
98% {opacity: 1 ;}
100% {opacity: 1 ;}


}

@-webkit-keyframes roadrunner {
0%, {-webkit-transform: translatex(0%)  ;}
50% {-webkit-transform: translateX(-500%)  rotateY(180deg) ;}
100% {-webkit-transform: translateX(0%);}
}
.topright {
  -webkit-animation-name: roadrunner;
  animation-name: roadrunner;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-transition-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite
  animation-timing-function: linear;
  transition-timing-function: linear;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
